*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(131, 131, 131);
  background: violet(
    180deg,
    rgba(131, 131, 131, 1) 0%,
    rgba(58, 58, 58, 1) 33%,
    rgba(41, 41, 41, 1) 64%,
    rgba(17, 0, 0, 1) 100%
  );
}
h1 {
  text-align: center;
  color: red;
  margin-top: 10px;
}

.container {
  margin: 0 auto;
  margin-top: 50px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(1, 200px) repeat(1, 0fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 15px;
}

.container label {
  color: blue;
}

#etoile {
  width: 35px;
  text-align: center;
}
#type {
  width: 120px;
}
.container div {
  display: block;
}

footer {
  margin: 40px auto;
  width: 20%;
  display: flex;
  justify-content: center;
}

footer button {
  width: 100px;
  border: none;
  padding: 10px;
  border-radius: 999px;
  background-color: red;
  margin: 5px;
}

footer button:hover {
  background-color: yellow;
  color: yellow;
  cursor: pointer;
}