body {
  background-color: rgb(0, 0, 0);
}
.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "header header"
  "left main"
  "footer footer";
  grid-template-columns: 360px 4fr;
  grid-template-rows: 130px 500px 100px;
}
.container > div {
  border: 2px dashed rgb(250, 250, 250);
}

.header {
  text-align: center;
  width: 100%;
  height: 100%;
  grid-area: header;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}
.left {
  grid-area: left;
  color: white;
  text-align: center;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ff0000, 0 0 80px #ff0000, 0 0 90px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000;
}
.main {
  grid-area: main;

}
iframe {
  height: 70%;
  width: 70%;
  margin-top: 7%;
  margin-left: 5%;
  text-align: center;
  color: rgb(255, 255, 255);
}
.footer {
  grid-area: footer;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #0000ff, 0 0 80px #0000ff, 0 0 90px #0000ff, 0 0 100px #0000ff, 0 0 150px #0000ff;
}

img{
  margin-right: 5%;
  margin-top:2%;
  width: 60px;
  float:right;
  height: 100px;
  width: 100px;
  position: relative;
  }

  div#menu { /*le menu dans son ensemble*/
    width: 100px;/*100px jsp */
    height: 100px;/*100pxjsp */
    position: relative; /*relative  fixed fait que le tableau n'est plus dans le div avec relative il se met dans div*/
    margin-left: 13%;/*pour mettre au milieu du div */
    margin-top: 20%;
  }
  
  div#menu ul {
    padding: 0; /*0*/
    width: 200px; /*100px il s'agit de la langueur des traits horizontaux*/
    height: auto;/* auto   165px 300px il s'agit de la longeur des traits*/
    border: 5px solid rgb(250, 250, 250);
    border-style: dashed;
    margin: 1px;
  }
  
  div#menu ul li {
    margin-left: 0;
    position: relative;/* relative*/
    list-style: none; 
    border-bottom: 7px solid rgb(255, 255, 255); /*les bords*/
    height: 50px;
  }
  
  div#menu ul ul {
    position: absolute;
    top: 0;
    left: 100px; /*100px*/ 
  }
  
  div#menu li a {
    text-decoration: none;
  
  }
  
  div#menu ul ul {
    width: 100px;
    position:absolute;
    top: 0;
    left: 200px;/*marge entre les deux traits des sous-menus*/
    display: none 
  }
  
  div#menu ul.niveau1 li.sousmenu:hover ul.niveau2,
  div#menu ul.niveau2 li.sousmenu:hover ul.niveau3 {display: block;}
  
  div#menu a {color:rgb(255, 255, 255)}
  
  div#menu li.sousmenu:hover {background: rgb(201, 120, 233); width: auto;}
  
  div#menu li a {
    text-decoration: none; 
    padding: 15px 0 12px 8px;
    display: block; border-left: 
    8px solid rgb(118, 9, 161); width: auto; /*j'ai touché*/
  
  }
  
  div#menu li a:hover {  border-left-color: yellow; }
  div#menu ul ul li a:hover {  border-left-color:rgb(85, 0, 85); width: auto;}
  div#menu ul ul ul li a:hover { border-left-color: rgb(5, 5, 5);}
  
