*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1, h2, h3{
    background-color: #4682B4   ;
    border: solid 2px black;
    border-radius: 3px;
}

div{
    border-radius: 8px;
}
header h1, footer h2{
    background-color: #4682B4   ;
    border: 2px black;
    color: black;
    font-family: 'Georgia', monospace;
    align-content: center;
    width: 90%;
    margin: 0 auto;
    
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: 10px auto;
    
}

main div{
    width: 30%;
    height: auto;
    border: solid 1px black;
}

.cardOne{
    background-color: #FFC0CB   ;
}
.cardTwo{
    background-color: #FFC0CB   ;
}


img{
    width: 150px;
    height: 150px;
}