body{
	background-color: #AF7AC5;
	text-align: center;
}
h1{
	color: #2E4053;
	font-family: Arial;
	font-size: 2em;
	margin: 30px;
}
div{
	border: 2px solid white;
	border-radius: 35px;
	width: 30%;
	margin-left: 35%;
	margin-right: 25%;
	padding:20px;

}
button{
	width: 300px;
	border: 2px solid white;
	border-radius: 26px;
	background-color: #5B2C6F ;
	padding: 15px 32px;
	margin-top: 3px;
}
button:hover
{
	color: #5B2C6F ;
	background-color: black;
	border: 2px solid white;
  
}