div#menu {width: 200px
  }


div#menu ul {
	padding: 0;
	width: 100px;
	border: 2px solid blue;
	margin: 1px;
}

div#menu ul li {
	position: relative; 
	list-style: none; 
	border-bottom: 2px solid red; 
}

div#menu ul ul {
	position: absolute;
	top: 0;
	left: 100px; 
}

div#menu li a {
	text-decoration: none;

}

div#menu ul ul {
	position:absolute;
	top: 0;
	left: 100px;
	display: none 
}


div#menu ul.niveau1 li.sousmenu:hover ul.niveau2,
div#menu ul.niveau2 li.sousmenu:hover ul.niveau3 {display: block;}



div#menu a {color:red}

div#menu li.sousmenu:hover {background: orange}

div#menu li a {
	text-decoration: none; 
	padding: 4px 0 4px 8px;
	display: block; border-left: 
	8px solid pink; width: 60px;

}

div#menu li a:hover {  border-left-color: yellow; }
div#menu ul ul li a:hover {  border-left-color:violet;}
div#menu ul ul ul li a:hover { border-left-color: brown;}


